In [2]:
import cobra
from cobra import Model,Reaction,Metabolite
model=Model('Task1')

In [3]:
R1=Reaction('R1')
R1.name='R1'
R1.lower_bound=0
R1.upper_bound=1000

In [4]:
R2=Reaction('R2')
R2.name='R2'
R2.lower_bound=0
R2.upper_bound=1000

In [5]:
Mu=Reaction('Mu')
Mu.name='Mu'
Mu.lower_bound=0
Mu.upper_bound=1000

In [6]:
R0=Reaction('R0')
R0.name='R0'
R0.lower_bound=1
R0.upper_bound=1

In [7]:
R3=Reaction('R3')
R3.name='R3'
R3.lower_bound=.9 
R3.upper_bound=.9

In [8]:
R4=Reaction('R4')
R4.name='R4'
R4.lower_bound=0
R4.upper_bound=1000

In [9]:
A=Metabolite('A',compartment='c') 
B=Metabolite('B',compartment='c') 
C=Metabolite('C',compartment='c')
ATP=Metabolite('ATP',compartment='c')

In [10]:
R0.add_metabolites({A:1})
R1.add_metabolites({A:-1,B:1})
R2.add_metabolites({B:-1,C:1})
R3.add_metabolites({A:-1,ATP:1})
R4.add_metabolites({ATP:-1})
Mu.add_metabolites({C:-1})

In [11]:
model.add_reactions([R0,R1,R2,R3,R4,Mu])

In [12]:
model.objective='Mu'

In [13]:
model.optimize()

In [14]:
model.summary()